.root{
-fx-background-color:"#121212";
-fx-text-fill:"#ffffff";
}

#btnTheme{
-fx-background-size: 45px;
-fx-background-color: "#121212";
-fx-background-repeat: no-repeat;
-fx-background-position: 85%;
-fx-border-color: "#121212";
-fx-padding: 0;
}

.btnJuego{
-fx-border-style: solid;
 -fx-border-width: 1px;
 -fx-border-color: gray;
}

#btn_stop{
-fx-background-color: linear-gradient(#ff5400, #be1d00);
-fx-background-radius: 30;
-fx-background-insets: 0;
-fx-text-fill: white;
}

#btn_start{
-fx-background-color: linear-gradient(#ff5400, #be1d00);
-fx-background-radius: 30;
-fx-background-insets: 0;
-fx-text-fill: white;
}