* {
   -fx-darkest-grey-color: #323232;
}

.root{
-fx-background-color:"#121212";
-fx-text-fill:"#ffffff";
}

#btnTheme{
-fx-background-size: 45px;
-fx-background-color: "#121212";
-fx-background-repeat: no-repeat;
-fx-background-position: 85%;
-fx-border-color: "#121212";
-fx-padding: 0;
}

#btnStats{
-fx-background-size: 45px;
-fx-background-color: "#121212";
-fx-background-repeat: no-repeat;
-fx-background-position: 85%;
-fx-border-color: "#121212";
-fx-padding: 0;
}

.btnJuego{
-fx-border-style: solid;
 -fx-border-width: 1px;
 -fx-border-color: gray;
}

#btn_stop{
-fx-background-color: #ec4b4b;
-fx-background-radius: 30;
-fx-background-insets: 0;
-fx-text-fill: white;
}

#btn_start{
-fx-background-color: #2fe95e;
-fx-background-radius: 30;
-fx-background-insets: 0;
-fx-text-fill: white;
}

#innerBorder{
-fx-background-color: #2f2e2e;
}

.radio-button {
    -fx-text-fill: white;
}

.radio-button .radio {
    -fx-border-width: 1px;
    -fx-background-color: white;
    -fx-background-image: null;
    -fx-border-radius: 15px;
    -fx-padding: 3px;
}
.radio-button .radio:selected {
    -fx-background-color: white;
    -fx-background-image: null;
}
.radio-button -radio:armed {
    -fx-background-color: white;
    -fx-background-image: null;
}
.radio-button -radio:determinate {
    -fx-background-color: white;
    -fx-background-image: null;
}
.radio-button -radio:indeterminate {
    -fx-background-color: white;
    -fx-background-image: null;
}
.radio-button .dot {
    -fx-background-radius: 15px;
    -fx-padding: 8px;
}