* {
   -fx-darkest-grey-color: #323232;
}

.root{
-fx-background-color:"#E1E1E1";
}

#btnTheme{
-fx-background-size: 45px;
-fx-background-color: "#E1E1E1";
-fx-background-repeat: no-repeat;
-fx-background-position: 85%;
-fx-border-color: "#E1E1E1";
-fx-padding: 0;
}

#btnStats{
-fx-background-size: 45px;
-fx-background-color: "#E1E1E1";
-fx-background-repeat: no-repeat;
-fx-background-position: 85%;
-fx-border-color: "#E1E1E1";
-fx-padding: 0;
}

.btnJuego{
-fx-border-style: solid;
 -fx-border-width: 1px;
 -fx-border-color: gray;
 }

#btn_stop{
 -fx-text-fill: #000000;
 -fx-background-color: #ec4b4b;
 -fx-background-radius: 30;
 -fx-background-insets: 0;
 -fx-text-fill: black;
}

#btn_start{
 -fx-text-fill: #000000;
 -fx-background-color: #2fe95e;
 -fx-background-radius: 30;
 -fx-background-insets: 0;
 -fx-text-fill: black;
}

}
#innerBorder{
-fx-background-color: #FFFFFF;
}


.radio-button .radio {
    -fx-border-width: 1px;
    -fx-border-color: -fx-darkest-grey-color;
    -fx-background-color: white;
    -fx-background-image: null;
    -fx-border-radius: 15px;
    -fx-padding: 3px;
}
.radio-button .radio:selected {
    -fx-background-color: white;
    -fx-background-image: null;
}
.radio-button -radio:armed {
    -fx-background-color: white;
    -fx-background-image: null;
}
.radio-button -radio:determinate {
    -fx-background-color: white;
    -fx-background-image: null;
}
.radio-button -radio:indeterminate {
    -fx-background-color: white;
    -fx-background-image: null;
}
.radio-button .dot {
    -fx-background-radius: 15px;
    -fx-padding: 8px;
}