.root{
-fx-background-color:"#E1E1E1";
}

#btnTheme{
-fx-background-size: 45px;
-fx-background-color: "#E1E1E1";
-fx-background-repeat: no-repeat;
-fx-background-position: 85%;
-fx-border-color: "#E1E1E1";
-fx-padding: 0;
}

.btnJuego{
-fx-border-style: solid;
 -fx-border-width: 1px;
 -fx-border-color: gray;
 }

#btn_stop{
 -fx-text-fill: #000000;
 -fx-background-color: #ec4b4b;
 -fx-background-radius: 30;
 -fx-background-insets: 0;
 -fx-text-fill: white;
}

#btn_start{
 -fx-text-fill: #000000;
 -fx-background-color: #2fe95e;
 -fx-background-radius: 30;
 -fx-background-insets: 0;
 -fx-text-fill: white;
}

}
#innerBorder{
-fx-background-color: #FFFFFF;
}